/*!
Extension Name: 31-w kenneth theme du cours
Author: kenneth Gbeti
Author URI: https://github.com/kennethEdwin147/31w-extension-exer2
Description: Extension de l'exercice 2
*/
.code__adresse {
    margin: 10px;
    padding: 10px;
    color: red;
}

.boite__modale {
    background-color:white;
    position: absolute;
    width: 50vw;
    height: 50vh;

    top: 25vh;
    left: 25vw;

    transform: scale(0);
    opacity: 1 !important;
    transition: transform 1s, opacity 1s;
}

.boite__modale__ouvrir {
    transform: scale(1);
    opacity: 1
}

.boite__x {
    width: 2rem;
    height: 2rem;
    position: absolute;
}

.opacity__modal {
    transition: all 1.5s ease;
    background-color: rgb(41, 41, 41) !important;
    opacity:90%;
}